
@import "reset.less";
@import "variables.less";
@import "fonts.less";
@import "functions.less";

body, html {
  font-family: Arial, Helvetica, sans-serif;
  background: #3c4c5a;
  cursor: default;
  width: 100%;
  height: 100%;
}

.body-loading {
  position: absolute;
  width: 200px;
  text-align: center;
  color: #FFF;
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -100px;
  .transition(all .3s ease);
  
  .bar {
    display: block;
    width: 100%;
    position: absolute;
    height: 10px;
    top: 40px;
    left: 0;
    border: 1px solid #FFF;
    
    > span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: #FFF;
      width: 0;
      .transition(width .1s ease);
    }
  }
}

.loaded .body-loading {
  opacity: 0;
  .translate3d(0, 20px, 0);
}

.loaded #wrapper {
  opacity: 1;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img-css/fond.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 0;
  .transition(opacity 1s linear);
}

.plateforme1 {
  position: absolute;
  width: 360px;
  height: 201px;
  margin-left: -180px;
  margin-top: -100px;
  background: url(../img-css/plateforme1.png);
  
  &.num1 {
    top: 100%;
    left: 0;
    
    -webkit-animation: floating ease-in-out 10s infinite;
    -moz-animation: floating ease-in-out 10s infinite;
    -ms-animation: floating ease-in-out 10s infinite;
    animation: floating ease-in-out 10s infinite;
  }
  
  &.num2 {
    top: 90%;
    left: 90%;
    
    -webkit-animation: floating2 ease-in-out 13s infinite;
    -moz-animation: floating2 ease-in-out 13s infinite;
    -ms-animation: floating2 ease-in-out 13s infinite;
    animation: floating2 ease-in-out 13s infinite;
  }
}

.plateforme2 {
  position: absolute;
  width: 193px;
  height: 116px;
  margin-left: -145px;
  margin-top: -55px;
  background: url(../img-css/plateforme2.png);
  
  &.num1 {
    top: 45%;
    left: 5%;
    
    -webkit-animation: floating ease-in-out 8s infinite;
    -moz-animation: floating ease-in-out 8s infinite;
    -ms-animation: floating ease-in-out 8s infinite;
    animation: floating ease-in-out 8s infinite;
  }
  
  &.num2 {
    top: 60%;
    left: 95%;
    
    -webkit-animation: floating3 ease-in-out 16s infinite;
    -moz-animation: floating3 ease-in-out 16s infinite;
    -ms-animation: floating3 ease-in-out 16s infinite;
    animation: floating3 ease-in-out 16s infinite;
  }
}

.plateforme3 {
  position: absolute;
  width: 137px;
  height: 84px;
  margin-left: -70px;
  margin-top: -42px;
  background: url(../img-css/plateforme3.png);
  
  &.num1 {
    top: 55%;
    left: 8%;
    -webkit-animation: floating ease-in-out 6s infinite;
    -moz-animation: floating ease-in-out 6s infinite;
    -ms-animation: floating ease-in-out 6s infinite;
    animation: floating ease-in-out 6s infinite;
  }
  
  &.num2 {
    top: 80%;
    left: 95%;
    -webkit-animation: floating2 ease-in-out 11s infinite;
    -moz-animation: floating2 ease-in-out 11s infinite;
    -ms-animation: floating2 ease-in-out 11s infinite;
    animation: floating2 ease-in-out 11s infinite;
  }
  
  &.num3 {
    top: 95%;
    left: 45%;
    -webkit-animation: floating2 ease-in-out 16s infinite;
    -moz-animation: floating2 ease-in-out 16s infinite;
    -ms-animation: floating2 ease-in-out 16s infinite;
    animation: floating2 ease-in-out 16s infinite;
  }
}

#game {
  width: 1300px;
  height: 776px;
  position: absolute;
  overflow: hidden;
  margin-left: -650px;
  margin-top: -388px;
  top: 50%;
  left: 50%;
}

.screen {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  .translate3d(0, -20px, 0);
  .transition-transform(~".5s ease, opacity .5s ease, visibility 0s linear .5s");
}

.screen.show {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  .translate3d(0, 0, 0);
  .transition(all 1s ease 1s);
} 

.btn {
  display: block;
  width: 213px;
  height: 95px;
  margin: 0 auto;
  padding: 0;
  .box-sizing(border-box);
  background-size: 100%;
  
  &.play {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -106px;
    background-image: url(../img-css/play_1.png);

    &:hover {
      background-image: url(../img-css/play_2.png);
    }
  }
  
  &.continue {
    background-image: url(../img-css/continue_1.png);
    &:hover {
      background-image: url(../img-css/continue_2.png);
    }
  }
  
  &.menu {
    background-image: url(../img-css/menu_1.png);
    &:hover {
      background-image: url(../img-css/menu_2.png);
    }
  }
}

.logo {
  width: 300px;
  height: 280px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -150px;
  background-image: url(../img-css/logo.png);
}

.controls-info {
  position: absolute;
  top: 210px;
  width: 300px;
  color: #FFF;
  left: 200px;
  
  &.right {
    right: 150px;
    left: auto;
  }
  
  .title {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
    clear: both;
    padding-top: 50px;
  }
  
  .part {
    float: left;
    width: 180px;
    
    &.part-shoot {
      width: 52px;
    }
  }
  
  .control {
    width: 50px;
    text-align: center;
    font-size: 12px;
    background: rgba(255,255,255,.3);
    padding-bottom: 4px;
    margin-top: 5px;
    
    &.left, &.bottom, &.right {
      float: left;
    }
    
    &.left, &.bottom {
      margin-right: 5px;
    }
    
    &.top {
      margin-left: 55px;
    }
    
    &.shoot {
      margin-top: 35px;
    }
    
    span {
      display: block;
      line-height: 20px;
      background: #FFF;
      color: #497b80;
    }
  }
  
  .libelle {
    clear: both;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;
  }
}

.players-num {
  position: absolute;
  top: 50%;
  margin-top: 60px;
  color: #FFF;
  font-size: 16px;
  left: 50%;
  width: 400px;
  text-align: center;
  margin-left: -200px;
  
  label {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px 10px;
    border-right: none;
    
    &:last-child {
      border-right: 1px solid #FFF;
    }
  }
  
  input:checked + label {
    background: #FFF;
    color: #497b80;
  }
  
  input {
    display: none;
  }
}

#game-over {
  h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    padding-top: 200px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
}

#scores {
  position: absolute;
  top: 0;
  left: 0;
  
  > div {
    position: absolute;
    top: 0;
    padding-left: 70px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    width: 120px;
    .box-sizing(border-box);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: -20px -25px;
    .transition-transform(~".3s ease, opacity .3s linear, left .5s ease");
    
    &.hidden {
      opacity: 0;
      .translate3d(0, -10px, 0);
    }
    
    &.p1 {
      background-image: url(../img/p1_3.png);
    }
    
    &.p2 {
      background-image: url(../img/p2_3.png);
    }
    
    &.p3 {
      background-image: url(../img/p3_3.png);
    }
    
    &.p4 {
      background-image: url(../img/p4_3.png);
    }
  }
}

#son-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 25px;
  height: 18px;
  background: url(../img-css/son.png) no-repeat;
  background-size: 25px;
  
  &.muted {
    background-position: 0 -18px;
  }
}

#credits-btn {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

#credits {
  position: absolute;
  bottom: 0;
  right: -350px;
  width: 350px;
  background: #FFF;
  .box-sizing(border-box);
  padding: 30px;
  font-size: 16px;
  z-index: 999;
  .transition(right .5s ease);
  
  .close {
    display: block;
    position: absolute;
    background: #497b80;
    color: #FFF;
    right: 0;
    top: 0;
    padding: 7px 10px;
  }
  
  &.show {
    right: 0;
  }
  
  p {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  a {
    color: #497b80;
    text-decoration: none;
  }
}

.rules {
  position: absolute;
  bottom: 175px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  width: 100%;
}


@-webkit-keyframes floating { 50% { -webkit-transform: translate3d(-30px, 0, 0); } 100% { -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes floating { 50% { -moz-transform: translate3d(-30px, 0, 0); } 100% { -moz-transform: translate3d(0, 0, 0); } }
@-ms-keyframes floating { 50% { -ms-transform: translate3d(-30px, 0, 0); } 100% { -ms-transform: translate3d(0, 0, 0); } }
@keyframes floating { 50% { transform: translate3d(-30px, 0, 0); } 100% { transform: translate3d(0, 0, 0); } }

@-webkit-keyframes floating2 { 50% { -webkit-transform: translate3d(-60px, 0, 0); } 100% { -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes floating2 { 50% { -moz-transform: translate3d(-60px, 0, 0); } 100% { -moz-transform: translate3d(0, 0, 0); } }
@-ms-keyframes floating2 { 50% { -ms-transform: translate3d(-60px, 0, 0); } 100% { -ms-transform: translate3d(0, 0, 0); } }
@keyframes floating2 { 50% { transform: translate3d(-60px, 0, 0); } 100% { transform: translate3d(0, 0, 0); } }

@-webkit-keyframes floating3 { 50% { -webkit-transform: translate3d(-90px, 0, 0); } 100% { -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes floating3 { 50% { -moz-transform: translate3d(-90px, 0, 0); } 100% { -moz-transform: translate3d(0, 0, 0); } }
@-ms-keyframes floating3 { 50% { -ms-transform: translate3d(-90px, 0, 0); } 100% { -ms-transform: translate3d(0, 0, 0); } }
@keyframes floating3 { 50% { transform: translate3d(-90px, 0, 0); } 100% { transform: translate3d(0, 0, 0); } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img-css/overlay.png);
  background-size: cover;
  background-position: center;
}